* {
  box-sizing: border-box;
}

html {
  background: rgb(48, 54, 63);
  color: rgb(245, 244, 247);
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: rgb(245, 244, 247);
}

p {
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgb(48, 54, 63);
}

.navigation-list__item {
  margin: 7px;
}

.navigation__link {
  display: inline-block;
  padding: 7px;
  text-decoration: none;
  border: 3px solid transparent;
}

.navigation__link--active {
  border-color: rgb(245, 244, 247);
}

.navigation__link:hover {
  border-color: rgb(245, 244, 247);
}

.navigation__hamburger {
  display: none;
  padding: 7px;
  font-size: 32px;
  cursor: pointer;
}

.navigation__toggler {
  display: none;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {

  .navigation__hamburger {
    display: block;
  }

  .navigation-list {
    display: none;
  }

  .navigation__toggler:checked ~ .navigation .navigation-list {
    display: flex;
    flex-direction: column;
  }

  .navigation__toggler:checked ~ .navigation {
    height: 100%;
  }
}

.header {
  min-height: 200px;
  padding-top: 100px;
  text-align: center;
}

.header__logo {
  width: 200px;
}

.main {
  background: #fff;
  color: rgb(48, 54, 63);
  transform: skewY(2deg);
}

.main__content {
  transform: skewY(-2deg);
  padding: 50px 0;
  margin: 50px 0;
}
