---
permalink: /
layout: landing
---
<main class="container">
  <section class="teaser">
    <h1 class="teaser__conference-name">ng-de 2019</h1>
    <h2 class="teaser__conference-details">Angular Community Conference &bull; Summer 2019 &bull; Berlin, Germany</h2>
  </section>
  <section class="social-media">
    <p class="social-media__up-to-date">
      Be always up to date ...
    </p>
    <div class="social-media__networks">
      {% if site.data.socialmedia.twitter %}
      <a class="social-media__network" href="{{ site.data.socialmedia.twitter.url }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
      {% endif %}
      {% if site.data.socialmedia.facebook %}
      <a class="social-media__network" href="{{ site.data.socialmedia.facebook.url }}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
      {% endif %}
      {% if site.data.socialmedia.newsletter %}
      <a class="social-media__network" href="{{ site.data.socialmedia.newsletter.url }}" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
      {% endif %}
    </div>
  </section>
</main>
