<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | prepend: site.favicon_img_path }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | prepend: site.favicon_img_path }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | prepend: site.favicon_img_path }}">
<link rel="manifest" href="{{ 'site.webmanifest' | prepend: site.favicon_img_path }}">
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | prepend: site.favicon_img_path }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#323944">
<meta name="msapplication-config" content="{{ 'browserconfig.xml' | prepend: site.favicon_img_path }}">
<meta name="theme-color" content="#ff0000">
<link rel="shortcut icon" href="{{ 'favicon.ico' | prepend: site.favicon_img_path }}" />