<script type="text/javascript">
  /* <![CDATA[ */
  // https://gist.github.com/dillansimmons/a2c1ebad5788dc2a2d9cb45669d9396e
    function addUTMParameterToAllLinks() {
      const params = new URLSearchParams(window.location.search);
      const utm_params = [];
      params.forEach(function(value, key) {
        if (key.startsWith('utm_') || key === 'gclid') {
          utm_params.push(key+'='+value)
        }
      })
      utm_search = utm_params.join('&');
      if (!!utm_search) {
        document.querySelectorAll('a[href]').forEach(function(ele, idx) {
          if (ele.href.indexOf('ng-de.org') !== -1) {
            ele.href = ele.href + (ele.href.indexOf('?') === -1 ? '?' : '&') + utm_search;
          }
        });
    }
  };
  document.addEventListener("DOMContentLoaded", addUTMParameterToAllLinks);
  /*]]>*/
</script>