{% assign layout = 'dark' %}
{% if include.layout == 'light' %}
  {% assign layout = 'light' %}
{% endif %}

{% if page.url contains include.url %}
  <div class="angular-image angular-image--{{ layout }} {% if include.small %}angular-image--small{% endif %}">
    {% if include.badge %}<span class="angular-image__badge">{{ include.badge }}</span>{% endif %}
    <div class="angular-image__picture">
      {% if include.image %}
      <img
        class="lazy"
        src="/assets/placeholder-image.svg"
        data-src="{{ include.image }}"
        data-srcset="{{ include.image }}"
        alt="{{ include.name }}"
        title="{{ include.name }}">
      {% endif %}
    </div>
  </div>
{% else %}
  <a href="{{ include.url }}" class="angular-image angular-image--{{ layout }} {% if include.small %}angular-image--small{% endif %}" {% if include.target %}target="{{ include.target }}"{% endif %} rel="nofollow noreferer">
    {% if include.badge %}<span class="angular-image__badge">{{ include.badge }}</span>{% endif %}
    <div class="angular-image__picture">
      {% if include.image %}
      <img
        class="lazy"
        src="/assets/placeholder-image.svg"
        data-src="{{ include.image }}"
        data-srcset="{{ include.image }}"
        alt="{{ include.name }}"
        title="{{ include.name }}">
      {% endif %}
    </div>
  </a>
{% endif %}