<div class="bottombar" id="bottombar">
  <nav class="bottombar__nav">
    <ul class="menu menu--bottombar" role="menubar">
      {% for link in site.data.pages.second_links %}
      {% if link.navigation %}
      <li class="menu__item" role="menuitem">
        <a class="menu__link {% if link.url == page.url %}menu__link--active{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
        <li class="menu__item" role="menuitem">
        <a class="menu__link" href="{{ site.data.scholarship.url }}" target="_blank">Scholarship</a>
      </li>

    </ul>
  </nav>
</div>
