<div id="cookie-consent" class="cookie-consent">
  <div class="cookie-consent__wrapper">
    <div class="container">
      <div class="cookie-consent__message">
        Our website uses cookies to make your browser experience better. You can disable the use of
        cookies at our <a href="/privacy-policy/">data privacy page.</a>
      </div>
      <button accept class="cookie-consent__button button">Okay</button>
    </div>
  </div>
</div>
<script type="text/javascript">
(() => {
  const cookieConsent = document.getElementById('cookie-consent');
  const accept = cookieConsent.querySelector('button[accept]');
  const ACCEPTED = 'cookie-consent-accepted';

  const agree = () => {
    localStorage.setItem(ACCEPTED, true);
    cookieConsent.classList.remove('cookie-consent--active');
    accept.removeEventListener('click', agree);
  };

  accept.addEventListener('click', agree);

  if (!localStorage.getItem(ACCEPTED)) {
    cookieConsent.classList.add('cookie-consent--active');
  }
})();
</script>
