<div class="header-background">
  <div class="header-background__shape">
    <svg viewBox="0 0 500 100">
      <defs>
        <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0" stop-color="#3c4553"/>
          <stop offset="0.8" stop-color="#323944" />
          <stop offset="1" stop-color="#323944"/>
        </linearGradient>
      </defs>
      <polygon points="75,10 300,100 -100,100" fill="url(#gradient3)" />
    </svg>
  </div>
  <div class="header-background__shape">
    <svg viewBox="0 0 500 100">
      <defs>
        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0" stop-color="#454f5f"/>
          <stop offset="0.8" stop-color="#323944" />
          <stop offset="1" stop-color="#323944"/>
        </linearGradient>
      </defs>
      <polygon points="420,10 600,100 100,100" fill="url(#gradient2)" />
    </svg>
  </div>
  <div class="header-background__shape">
    <svg viewBox="0 0 500 100">
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0" stop-color="#454f5f"/>
          <stop offset="0.8" stop-color="#323944" />
          <stop offset="1" stop-color="#323944"/>
        </linearGradient>
      </defs>
      <polygon points="250,30 500,100 0,100" fill="url(#gradient)" />
    </svg>
  </div>
</div>