{% if page.show_header == true %}
<header class="header">
  <div class="header__content">
    <img class="header__logo" src="{{ "assets/logo.svg" | prepend: site.baseurl
    }}" alt="ng-de Conference Logo" title="ng-de Conference Logo">
    <h1 class="header__title">Angular Conference</h1>
    <h2 class="header__description">
      <address>Bolle Festsäle, Berlin</address>
      <time>6th to 7th October 2022</time>
    </h2>

    <div class="header__buttons">
      {% if site.data.tickets.enabled == true %}
      <a
        class="button button--xlarge"
        href="/tickets/"
        >Buy Tickets</a
      >
      {% endif %}
    </div>

    <!-- <iframe class="header__video" width="100%" height="315" style="max-width: 515px;" src="https://www.youtube-nocookie.com/embed/8QVbiJV0J68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>
  <div class="header__background" aria-hidden="true">
    <div class="header-background">
      <div class="header-background__shape">
        <svg viewBox="0 0 500 100">
          <defs>
            <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0" stop-color="#3c4553" />
              <stop offset="0.8" stop-color="#323944" />
              <stop offset="1" stop-color="#323944" />
            </linearGradient>
          </defs>
          <polygon points="75,10 300,100 -100,100" fill="url(#gradient3)" />
        </svg>
      </div>
      <div class="header-background__shape">
        <svg viewBox="0 0 500 100">
          <defs>
            <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0" stop-color="#454f5f" />
              <stop offset="0.8" stop-color="#323944" />
              <stop offset="1" stop-color="#323944" />
            </linearGradient>
          </defs>
          <polygon points="420,10 600,100 100,100" fill="url(#gradient2)" />
        </svg>
      </div>
      <div class="header-background__shape">
        <svg viewBox="0 0 500 100">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0" stop-color="#454f5f" />
              <stop offset="0.8" stop-color="#323944" />
              <stop offset="1" stop-color="#323944" />
            </linearGradient>
          </defs>
          <polygon points="250,30 500,100 0,100" fill="url(#gradient)" />
        </svg>
      </div>
    </div>
  </div>
</header>
{% endif %}
