<div class="day-picker">
  <div class="day-picker__item">
    Workshops<br />
    <small>29. August</small>
  </div>
  <div class="day-picker__item">
    Friday<br />
    <small>30. August</small>
  </div>
  <div class="day-picker__item">
    Saturday<br />
    <small>31. August</small>
  </div>
</div>

<div class="schedule">
  <div class="schedule-item schedule-item--past">
    <time class="schedule-item__time" datetime="">08:30</time>
    <h3 class="schedule-item__title">Open Doors</h3>
    <div class="schedule-item__location">BOLLE FESTSÄLE &bull; Alt-Moabit 98, 10559 Berlin</div>
  </div>
  <div class="schedule-item schedule-item--past">
    <time class="schedule-item__time" datetime="">09:00</time>
    <h3 class="schedule-item__title">Breakfast</h3>
    <div class="schedule-item__location">FESTSAAL</div>
  </div>
  <div class="schedule-item schedule-item--past">
    <time class="schedule-item__time" datetime="">09:40</time>
    <h3 class="schedule-item__title">Warm Welcome</h3>
    <div class="schedule-item__speakers">
      <a href="#">NG-DE Team</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item schedule-item--now">
    <time class="schedule-item__time" datetime="">10:00</time>
    <h3 class="schedule-item__title">Opening Keynote</h3>
    <div class="schedule-item__speakers">
      <a href="#">Tracy Lee</a> &amp; 
      <a href="#">Katerina Skroumpelou</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">10:30</time>
    <h3 class="schedule-item__title">Talk 2</h3>
    <div class="schedule-item__speakers">
      <a href="#">John Doe</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">11:00</time>
    <h3 class="schedule-item__title">Coffee Break</h3>
    <div class="schedule-item__location">FESTSAAL</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">11:45</time>
    <h3 class="schedule-item__title">Talk 3</h3>
    <div class="schedule-item__speakers">
      <a href="#">Alice Wonderland</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">12:15</time>
    <h3 class="schedule-item__title">Talk 4</h3>
    <div class="schedule-item__speakers">
      <a href="#">Bob Builder</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">12:45</time>
    <h3 class="schedule-item__title">Lunch</h3>
    <div class="schedule-item__location">FESTSAAL</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">14:15</time>
    <h3 class="schedule-item__title">Talk 5</h3>
    <div class="schedule-item__speakers">
      <a href="#">Funny Frederik</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">14:45</time>
    <h3 class="schedule-item__title">Talk 6</h3>
    <div class="schedule-item__speakers">
      <a href="#">Super Sylvia</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">15:15</time>
    <h3 class="schedule-item__title">Coffee Break</h3>
    <div class="schedule-item__location">FESTSAAL</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">16:00</time>
    <h3 class="schedule-item__title">Talk 7</h3>
    <div class="schedule-item__speakers">
      <a href="#">Awesome Alfred</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">16:30</time>
    <h3 class="schedule-item__title">Talk 8</h3>
    <div class="schedule-item__speakers">
      <a href="#">Epic Emily</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">17:00</time>
    <h3 class="schedule-item__title">Closing Words Day 1</h3>
    <div class="schedule-item__speakers">
      <a href="#">NG-DE Team</a>
    </div>
    <div class="schedule-item__location">Main Stage</div>
  </div>
  <div class="schedule-item">
    <time class="schedule-item__time" datetime="">19:00</time>
    <h3 class="schedule-item__title">Party &amp; Make Friends</h3>
    <div class="schedule-item__location">FESTSAAL</div>
  </div>
</div>
