<div class="row row--three">
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Trainer"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Trainer"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Funny Developer Avocado at Trololo Hahaha Ltd" %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Trainer"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Trainer"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Trainer"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Speaker"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>  
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Speaker"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Speaker"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Peter Müller"
      badge="Speaker"
      url="/speakers/peter-mueller"
      image="/assets/team/peter.jpg"
      title="Head of Unicorns @ACME Ltd." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
  <div class="row__col">
    {% include speaker-thumb.html 
      name="Open Slot"
      badge="Speaker"
      url="/call-for-papers"
      title="Will be announced soon ..." %}
  </div>
</div>
