 <div class="row">
  <div class="row__col sponsors">
    {% if site.data.sponsors.main %}
    <h2 class="sponsors__headline">Main Sponsor</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.main %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.platinum %}
    <h2 class="sponsors__headline">Platinum Sponsors</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.platinum %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.gold %}
    <h2 class="sponsors__headline">Gold Sponsors</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.gold %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.silver %}
    <h2 class="sponsors__headline">Silver Sponsors</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.silver %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.bronze %}
    <h2 class="sponsors__headline">Bronze Sponsors</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.bronze %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.partners %}
    <h2 class="sponsors__headline">Partners</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.partners %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    {% if site.data.sponsors.community %}
    <h2 class="sponsors__headline">Community Partners</h2>
    <div class="sponsors__list">
      {% for sponsor in site.data.sponsors.community %}
        <a class="sponsor" href="{{ sponsor.url }}" rel="nofollow noreferrer">
          <img class="sponsor__logo" src="/assets/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
        </a>
      {% endfor %}
    </div>
    {% endif %}

    <h2 class="sponsors__headline">Become a Sponsor</h2>
    <p class="sponsors__join">
      Awesome promo text. Awesome promo text. Awesome promo text. Awesome promo text.
      Awesome promo text. Awesome promo text. Awesome promo text. Awesome promo text. 
      Awesome promo text. Awesome promo text. Awesome promo text. Awesome promo text. 
      <br /><br />
      <button class="button-primary">Primary Button</button>
    </p>
  </div>
</div>
