<div class="sponsors">
  {% if site.data.sponsors.main %}
  <h3 class="sponsors__headline">Main Sponsor</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.main %}
      <a class="sponsor main" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          src="placeholder-image.jpg"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.platinum %}
  <h3 class="sponsors__headline">Platinum Sponsors</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.platinum %}
      <a class="sponsor platinum" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          src="placeholder-image.jpg"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.gold %}
  <h3 class="sponsors__headline">Gold Sponsors</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.gold %}
      <a class="sponsor gold" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.silver %}
  <h3 class="sponsors__headline">Silver Sponsors</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.silver %}
      <a class="sponsor silver" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.bronze %}
  <h3 class="sponsors__headline">Bronze Sponsors</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.bronze %}
      <a class="sponsor bronze" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.partners %}
  <h3 class="sponsors__headline">Partners</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.partners %}
      <a class="sponsor partner" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if site.data.sponsors.community %}
  <h3 class="sponsors__headline">Community Partners</h3>
  <div class="sponsors__list">
    {% for sponsor in site.data.sponsors.community %}
      <a class="sponsor community_partner" href="{{ sponsor.url }}" rel="nofollow noreferrer">
        <img
          class="sponsor__logo lazy"
          data-src="/assets/sponsors/{{ sponsor.logo }}"
          data-srcset="/assets/sponsors/{{ sponsor.logo }}"
          alt="{{ sponsor.name }}"
          title="{{ sponsor.name }}">
      </a>
    {% endfor %}
  </div>
  {% endif %}

  <h3 class="sponsors__headline">Get involved</h3>
  <p class="sponsors__join">
    We are always looking for companies, organizations and people who are engaged in the community and want to help us to create an awesome and welcoming event.
    <br /><br />
    <a href="mailto:sponsoring@ng-de.org?subject=Sponsoring%20Request" class="button">Become a Sponsor</a>
  </p>
</div>