<div class="team {% if include.details %}team--details{% endif %} shuffle">
  {% assign members = site.data.team | where: include.where, "true" %}
  {% for member in members %}
  <div class="team__member-container">

    <div class="team__member-image">
      {% assign member_url = "https://twitter.com/" | append: member.twitter %}
      {% assign member_image = "/assets/team/" | append: member.image %}
  
      {% include angular-image.html 
        name=member.name 
        badge=member.role
        url=member_url
        target="_blank"
        image=member_image %}
    </div>

    {% if include.details %}
<div class="team__member-description" markdown="1">
{{ member.bio }}
</div>
    {% endif %}

  </div>
  {% endfor %}
</div>
