<div class="top-banner">
  <div class="top-banner__container">
    <div class="top-banner__flex">
      <div class="top-banner__promo">
        <span class="top-banner__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M.5 11a1 1 0 0 0 .998 1h11.004a1 1 0 0 0 .998-1V8.966a2.037 2.037 0 0 1 0-3.932V3a1 1 0 0 0-.998-1H1.498A1 1 0 0 0 .5 3v2.03a2.037 2.037 0 0 1 0 3.94zm4.02-1.5l5-5">
              </path>
              <path d="M5.02 5.5a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1m4 4a.5.5 0 1 0 0-1a.5.5 0 0 0 0 1"></path>
            </g>
          </svg>
        </span>
        <p class="top-banner__text">
          <span class="top-banner__text-mobile">Bundle sale: <strong>899,-€</strong></span>
          <span class="top-banner__text-large">Book your complete 3-day conference experience with our
            workshop packages. Now only <strong>899,-€</strong> instead of
            <strong>1164,-€</strong>.</span>
        </p>
      </div>
      <div class="top-banner__button">
        <a class="menu__button button button--compact" href="/tickets/">
          <span class="button__scale">Buy now</span>
        </a>
      </div>
      <div class="top-banner__close">
        <span class="top-banner__close-button">
          <svg class="top-banner__close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>