<div class="topbar" id="topbar">
  {% unless page.hide_topbar_logo == true %}
  <div class="topbar__logo">
    <a href="/">
      <img class="topbar__logo2" src="{{ "assets/logo.svg" | prepend: site.baseurl }}" alt="ng-de Conference Logo"
        title="ng-de Conference Logo">
    </a>
  </div>
  <div class="topbar__info">
    <address class="topbar__address">Berlin</address>
    <time class="topbar__time">2025</time>
  </div class="topbar__address">
  {% endunless %}
  <div class="topbar__toggle" aria-hidden="true">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="topbar__nav">
    <ul class="menu menu--topbar" role="menubar">
      {% for link in site.data.pages.links %}
      {% if link.navigation %}
      <li class="menu__item" role="menuitem">
        <a class="menu__link {% if link.url == page.url or page.url contains link.url %}menu__link--active{% endif %}"
          href="{{ link.url }}">{{ link.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="menu__item" role="menuitem">
        {% if site.data.tickets.enabled == true %}
        <a class="menu__button button button--compact" href="/friends-ticket/">
          <span class="button__scale">Friends ticket</span>
        </a>
        {% endif %}
      </li>
      <!-- Use hightlighted CFP Button -->
      <!--
      <li class="menu__item" role="menuitem">
        <a class="menu__button button button--compact" href="/call-for-papers/">
          <span class="button__scale">Call For Papers</span>
        </a>
      </li>
      -->
    </ul>
  </nav>
</div>
<script type="text/javascript">
  (() => {
    // Nice little function from https://benfrain.com/preventing-body-scroll-for-modals-in-ios/
    const freezeVp = (e) => {
      e.preventDefault();
    };

    const stopBodyScrolling = (bool) => {
      if (bool === true) {
        document.body.classList.add('prevent-scroll');
        document.body.addEventListener('touchmove', freezeVp, false);
      } else {
        document.body.classList.remove('prevent-scroll');
        document.body.removeEventListener('touchmove', freezeVp, false);
      }
    }

    const topbar = document.getElementById('topbar');
    const topbarToggler = topbar.querySelector('.topbar__toggle');

    const topbarToggle = () => {
      topbar.classList.toggle('topbar--is-open');
      if (topbar.classList.contains('topbar--is-open')) {
        stopBodyScrolling(true);
      } else {
        stopBodyScrolling(false);
      }
    }
    topbarToggler.addEventListener('click', topbarToggle);
  })();
</script>