.sponsors {

  .sponsors__headline {

    text-align: center;
  }

  .sponsors__list {

    text-align: center;
  }
}

.sponsor {

  .sponsor__logo {

    width: 120px;
    height: 120px;
    margin: 1.5em;
  }
}
