/*
 * Base
 */
$base-fontsize: 1rem;
$base-width: rem-calc(1200);
$base-lineheight: 1.5;
$base-weight-normal: 400;
$base-weight-bold: 600;

$colors: (
  light: #ecf0f1,
  dark: #30363f,
  primary: #e84118,
  secondary: #e67e22
);

$body-fontsize: calc(19px + .25vw);
$body-fontcolor: map-get($colors, light);
$body-fontfamily: 'Source Sans Pro', sans-serif;
$body-background: #323944;

$footer-background: lighten($body-background, 1%);

/*
 * Typography
 */

$headline-fontfamily: 'Lora', sans-serif;
$headline-fontweight: $base-weight-bold;
$headline-color: inherit;
$headline-lineheight: 1.4;
$headline-margin: 0 0 0.5rem;

$headline-styles: (
  'h1': ( 'font-size': calc(26px + 1.6vw) ),
  'h2': ( 'font-size': calc(22px + 1.6vw) ),
  'h3': ( 'font-size': calc(24px + .25vw), 'margin-top': 2em, 'margin-bottom': .75em ),
  'h4': ( 'font-size': calc(18px + .25vw), 'font-family': $body-fontfamily )
);

$paragraph-letterspacing: -.003em;
$paragraph-lineheight: 1.6;
$paragraph-margin: calc(1em + .5vw) 0;

$list-lineheight: $paragraph-lineheight;
$list-margin: $paragraph-margin;
$list-style-position: outside;

$link-color: map-get($colors, primary);
$link-color-hover: map-get($colors, secondary);
$link-textdecoration: none;
$link-textdecoration-hover: none;
$link-transition: color 200ms ease-in;

$button-colors: $colors;

/*
 * Breakpoints
 */

$breakpoints: (
  small: 768px,
  medium: 992px,
  large: 1200px
);

$screen-small: map-get($breakpoints, small);
$screen-medium: map-get($breakpoints, medium);
$screen-large: map-get($breakpoints, large);