.day-picker {
  display: flex;
  margin: 1rem 0;

  &__item {

    display: flex;

    flex: 1;
    flex-direction: column;
    text-align: center;

    padding: 1rem 0;

    &--selected {
      color: map-get($colors, dark);
      background: map-get($colors, light);
      border-top: 5px solid map-get($colors, primary);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.schedule-item {
  $b: &;

  color: map-get($colors, dark);
  background: map-get($colors, light);
  padding: 1rem;
  margin-bottom: .5rem;

  &--hidden {
    display: none;
  }

  &--past {
    opacity: .85;
  }

  &--now {
    border-top: 5px solid map-get($colors, primary);
  }

  &__time {}

  &__title {
    margin: 0;
  }

  &__information p {
    margin: 0;
  }

  &__speakers {}

  &__location {
    font-size: 1rem;
  }
}
