$bottombar-height: 90px;
$bottombar-color: map-get($colors, dark);
$bottombar-background: #e6ebed;
$bottombar-mobile-zindex: 10;

.bottombar {
  $b: &;
  padding: 0.5rem 1.5rem;
  width: 100%;
  color: $bottombar-color;
  background-color: $bottombar-background;
  transition: transform 500ms ease-in-out;

  display: flex;
  align-items: center;
  min-height: $bottombar-height;
  
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, map-get($colors, primary), map-get($colors, secondary));
    top: -3px;
    left: 0;
  }

  &__nav {
    margin: 0 auto;
  }
}
