.button {
  $b: &;
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;

  font-size: calc(.9em + .1vw);
  font-weight: 600;
  color: map-get($colors, primary);
  text-align: center;
  border: 3px solid map-get($colors, primary);
  background-color: transparent;

  padding: 0.6em 1em;
  margin: 0 0 1rem;
  transition: box-shadow 250ms ease-in, background-color 250ms ease-in;

  &:hover, &:focus {
    color: #fff;
    box-shadow: inset 0 0 0 2em map-get($colors, primary);
  }

  &__scale {
    display: inline-block;
    transition: transform 250ms ease-in;

    #{$b}:hover & {
      transform: scale(1.06);
    }
  }

  &--expand {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &--large {
    font-size: calc(1em + .25vw);
  }

  &--xlarge {
    font-size: calc(0.9em + .25vw);
  }

  &--compact {
    padding: .4em .8em;
  }

  // Generates all color modifiers like: .button--primary
  @each $color-name, $color-value in $button-colors {
    &--#{$color-name} {
      color: $color-value;
      border-color: $color-value;

      &:hover, &:focus {
        box-shadow: inset 0 0 0 2em $color-value;
      }
    }
  }
}