.fact {
  $b: &;
  margin: calc(0.75em + .5vw) 0;

  &__number {
    font-size: calc(2.5em + 1vw);
    text-align: center;
    border-bottom: 3px solid red;
    max-width: 100px;
    margin: auto;
  }

  &__label {
    font-size: calc(0.8em + 0.5vw);
    text-align: center;
  }
}