.lead {
  $b: &;
  margin: calc(1.75em + .5vw) 0;

  &__headline {
    font-size: calc(24px + 1vw);
    text-align: center;
  }

  &__content {
    text-align: center;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }

  &:first-child {
    margin-top: 0;

    #{$b}__headline {
      margin-top: 0;
    }
  }
}