$menu-fontsize: 1.2rem;
$menu-item-gap: 2rem;
$menu-link-color: map-get($colors, dark);
$menu-link-color-hover: map-get($colors, primary);

.menu {
  $b: &;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  padding: 0;
  margin: 0 (-$menu-item-gap / 2);
  list-style-type: none;
  list-style-image: none;

  &__item {
    font-size: $menu-fontsize;
    padding: 0;
    margin: 0 ($menu-item-gap / 2);
  }

  &__link {
    display: inline-block;
    line-height: 2rem;
    font-weight: 600;
    color: $menu-link-color;
    margin-bottom: 0;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background: $menu-link-color-hover;
      transition: width .3s;
    }

    &:hover {
      color: $menu-link-color-hover;

      &:after {
        width: 100%;

        @media only screen and (max-width: $screen-small) {
          display: none;
        }
      }
    }

    &--active {
      &:after {
        width: 100%;
      }
    }
  }

  &__button.button {
    margin-bottom: 0;
  }

  &--topbar {}

  @media only screen and (max-width: $screen-medium) {
    &--topbar {
      flex-direction: column;
      margin: 0;

      #{$b} {
        &__item {
          font-size: calc(22px + .5vw);
          margin: ($menu-item-gap / 2) 0;
        }
      }
    }
  }
}