.social-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: -0.5rem -1rem;

  &__item {
    font-size: 2em;
    line-height: 1;
    color: inherit;
    opacity: 0.7;
    transition: color, opacity 300ms ease-in;
    margin: 0.5rem 1rem;

    &:hover, &:focus {
      color: map-get($colors, light);
      opacity: 1;
    }

    &--twitter {
      &:hover, &:focus {
        color: #00aced;
      }
    }

    &--facebook {
      &:hover, &:focus {
        color: #3b5998;
      }
    }

    &--instagram {
      &:hover, &:focus {
        color: #d6249f;
        .fab.fa-instagram {
          color: transparent;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }

    &--youtube {
      &:hover, &:focus {
        color: #bb0000;
      }
    }

    &--newsletter {}
  }
}