.speaker-thumb {
  $b: &;

  width: 100%;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__name {
    margin-top: .5rem;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-size: 1rem;
  }
}
