.speaker {

  &__social {
    text-align: center;
  }

  &__social-item {
    color: map-get($colors, light);
    margin: 1rem .25rem;
  }
}

.sessions-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__gradient_box {
    position: relative;
    box-sizing: border-box;
  
    $border: 5px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 0.5em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, map-get($colors, primary), map-get($colors, secondary));
    }
  }

  &__item {
    color: map-get($colors, dark);
    background: map-get($colors, light);
    padding: 2rem;
    margin: 0;
  }
}