.speaker {

  &__social {
    text-align: center;
  }

  &__social-item {
    color: map-get($colors, light);
    margin: 1rem .25rem;
  }
}

.sessions-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    color: map-get($colors, dark);
    background: map-get($colors, light);
    padding: 2rem;
    margin: 0;
  }
}