.sponsors {
  &__headline {
    text-align: center;
  }

  &__list {
    text-align: center;
  }

  &__join {
    display: block;
    margin: auto;
    max-width: 600px;
    text-align: center;
  }
}

.sponsor {
  &__logo {
    width: 120px;
    height: 120px;
    margin: 1.5em;
  }
}
