.team {
  $b: &;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  
  flex-direction: column;

  &__member-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  &__member-image {
    margin-right: 2rem;
  }

  @media screen and (max-width: $screen-small) {
    
    #{$b}__member-container {
      flex-direction: column;
    }

    #{$b}__member-image {
      flex: 1;
      display: flex;
      justify-content: center;
    }

  }

  &__member-description {
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      margin: 0;
    }
  }

  &--light {
    flex-direction: row;
  }

}
