.top-banner {
  border-bottom-color: red;
  border-bottom-width: 4px;

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    padding-bottom: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    padding-left: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    padding-right: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;

    @media only screen and (min-width: $screen-xsmall) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media only screen and (min-width: $screen-medium) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__flex {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }

  &__promo {
    align-items: center;
    flex: 1 1 0%;
    width: 0px;
    display: flex;
  }

  &__icon {
    display: flex;
    border-radius: .5rem;
    padding: .5rem;
    color: white;
  }

  &__text {
    color: white;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: .75rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-size: 1.25rem;

    &-large {
      display: none;

      @media only screen and (min-width: $screen-medium) {
        display: inline;
      }
    }

    &-mobile {
      @media only screen and (min-width: $screen-medium) {
        display: none;
      }
    }
  }

  &__button {
    flex-shrink: 0;
    width: 100%;
    margin-top: .5rem;
    order: 3;

    @media (min-width: $screen-xsmall) {
      width: auto;
      margin-top: 0;
      order: 2;
    }

    & > .menu__button {
      width: 100%;
    }

  }

  &__close {
    flex-shrink: 0;
    order: 2;

    @media (min-width: $screen-xsmall) {
      margin-left: .75rem;
      margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
      order: 3;
    }
  }

  &__close {
    &-button {
      padding: .5rem;
      border-radius: .375rem;
      display: flex;
      margin-right: -.25rem;
      -webkit-appearance: button;
      background-color: transparent;
      background-image: none;

      @media (min-width: $screen-xsmall) {
        margin-right: -.5rem;
      }
    }

    &-icon {
      color: white;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}