$topbar-height: 90px;
$topbar-color: map-get($colors, dark);
$topbar-background: #e6ebed;
$topbar-mobile-zindex: 10;

.topbar {
  $b: &;
  padding: 0.5rem 1.5rem;
  width: 100%;
  color: $topbar-color;
  background-color: $topbar-background;
  transition: transform 500ms ease-in-out;

  display: flex;
  align-items: center;
  height: $topbar-height;

  &__logo {
    height: 100%;
    margin: 0 1.2rem 0 0;

    img {
      height: 100%;
    }
  }

  &__info {
    font-size: calc(16px + 0.5vw);
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    margin: 0 1.2rem 0 0;
  }

  &__address {
    font-style: normal;
  }

  &__nav {
    margin-left: auto;
  }

  &__toggle {
    display: none;
  }

  &--is-open {}

  @media only screen and (max-width: $screen-medium) {
    &__nav {
      display: none;
      flex-direction: column;
      justify-content: center;
      background-color: $topbar-background;

      position: fixed;
      z-index: $topbar-mobile-zindex;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__toggle {
      cursor: pointer;
      font-size: 2rem;
      display: initial;
      position: relative;
      margin-left: auto;
      z-index: $topbar-mobile-zindex + 1;
    }

    &--is-open {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;

      #{$b} {
        &__nav {
          display: flex;
        }
      }
    }
  }
}