.workshop {
  $b: &;

  color: map-get($colors, dark);
  background: map-get($colors, light);
  padding: 2rem;
  margin-bottom: 4rem;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__trainer {
    display: flex;
  }

  @media screen and (max-width: $screen-xsmall) {
    &__details {
      flex-direction: column;
      align-items: center;
    }

    &__trainer {
      margin: 25px 0;
    }
  }
}

.order {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__price {
    font-size: 1rem;
    order: 1;
  }

  &__button {
    margin-bottom: 0;
    order: 0;
  }
}
