.workshop {
  $b: &;

  color: map-get($colors, dark);
  background: map-get($colors, light);
  padding: 25px;
  margin-bottom: 4rem;

  &.gradient-box {
    position: relative;
    box-sizing: border-box;
  
    $border: 5px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 0.5em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, map-get($colors, primary), map-get($colors, secondary));
    }
  }

  &__logo-container {
    text-align: center;
    padding-bottom: 25px;
  }

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__trainer-container {
    display: flex;
    justify-content: space-around;
    padding: 35px 0 25px 0;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &--preview {
    #{$b}__trainer-container {
      flex-direction: column;
    }

    #{$b}__trainer {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.order {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__price {
    font-size: 1rem;
    order: 1;
  }

  &__button {
    margin-bottom: 0;
    order: 0;
  }
}


