<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="NG-DE 2019">
    <meta property="og:description" content="Angular Conference | Berlin • 30 & 31 August, 2019">
    <meta property="og:image" content="https://beta.ng-de.org/assets/socialmedia-header.svg">
    <meta property="og:url" content="https://ng-de.org/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="NG-DE 2019">
    <meta name="twitter:image:alt" content="Angular Conference | Berlin • 30 & 31 August, 2019">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if site.favicon_img %}
    {% include _favicon.html %}
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "css/default.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    {% include _ga.html %}
  </head>
  <body>
    {% include topbar.html %}
    {% include header.html %}
    <main class="main">
      <div class="main__content">
        <section class="container">
          {{content}}
        </section>
        <section class="container">
          {% include sponsors.html %}
        </section>
      </div>
    </main>
    {% include footer.html %}
    {% include cookie-consent.html %}
  </body>
</html>
