<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image:height" content="1000">
    <meta property="og:image:width" content="1910">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ "assets/opengraph/og-image.jpg" | prepend: site.baseurl | prepend: site.url }}?{{site.time | date: '%s%N'}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ site.title }}">

    {% if page.noindex %}
      <meta name="robots" content="noindex, follow">
    {% else %}
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    <link rel="manifest" href="/manifest.webmanifest">
    {% if site.favicon_img %}
    {% include _favicon.html %}
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lora" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/default.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
    {% include _gtm.html %}
  </head>
  <body>
    {% include topbar.html %}
    {% include header.html %}
    <main class="main">
      <div class="main__content">
        {{ content }}
      </div>
    </main>
    {% include bottombar.html %}
    {% include footer.html %}
    {% include _service-worker.html %}
    {% include _lazy-load.html %}
    {% include _shuffle.html %}
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/solid.js" integrity="sha384-Xgf/DMe1667bioB9X1UM5QX+EG6FolMT4K7G+6rqNZBSONbmPh/qZ62nBPfTx+xG" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/brands.js" integrity="sha384-S2C955KPLo8/zc2J7kJTG38hvFV+SnzXM6hwfEUhGHw5wPo6uXbnbjSJgw3clO4G" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/fontawesome.js" integrity="sha384-bNOdVeWbABef8Lh4uZ8c3lJXVlHdf8W5hh1OpJ4dGyqIEhMmcnJrosjQ36Kniaqm" crossorigin="anonymous"></script>
    {% include _twitter.html %}
    {% include _gtm_body.html %}
  </body>
</html>
