name: Build Jekyll and Deploy to Firebase Archive 2025

on:
  push:
    branches: [ ng-de-2025 ]
  pull_request:
    branches: [ ng-de-2025 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Deploy to Firebase Version 2025
        if: github.ref == 'refs/heads/ng-de-2025'
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_NGDECONF_2025 }}'
          channelId: live
          projectId: ngdeconf-2025
